.current-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border: 1px solid $light-grey;

  &__logo-box {
    width: 5rem;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 5rem;
  }

  &__photo {
    height: 5rem;
    border-radius: 50%;

    margin: 0 3rem;
  }

  &__info-box {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
  }

  &__display-email {
    font-size: 1.2rem;
  }
}
