.restaurants {
  display: flex;
  flex-flow: row wrap;
  padding: 5rem 0;
}

.restaurant {
  padding: 3rem 5rem;
  border: 1px solid $light-grey;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &__name {
    font-size: $base-font-size;
    text-transform: uppercase;
    color: $color-black;
    text-align: center;
  }

  &__item {
    &:not(:first-child) {
      padding-top: 1rem;
    }
  }
}
