.h3-tag {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.1rem;

  // &:hover {
  // 	text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  // }
}

.h4-tag {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.1rem;
}
